<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase2Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPlaceDetails</display-name>
    <servlet-name>AddPlaceDetails</servlet-name>
    <servlet-class>com.controller.AddPlaceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlaceDetails</servlet-name>
    <url-pattern>/AddPlaceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightDetails</display-name>
    <servlet-name>AddFlightDetails</servlet-name>
    <servlet-class>com.controller.AddFlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightDetails</servlet-name>
    <url-pattern>/AddFlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightDetails</display-name>
    <servlet-name>SearchFlightDetails</servlet-name>
    <servlet-class>com.controller.SearchFlightDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightDetails</servlet-name>
    <url-pattern>/SearchFlightDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlight</display-name>
    <servlet-name>BookFlight</servlet-name>
    <servlet-class>com.controller.BookFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlight</servlet-name>
    <url-pattern>/BookFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightConfirmation</display-name>
    <servlet-name>BookFlightConfirmation</servlet-name>
    <servlet-class>com.controller.BookFlightConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightConfirmation</servlet-name>
    <url-pattern>/BookFlightConfirmation</url-pattern>
  </servlet-mapping>
</web-app>